.nadpis{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .header-item-1 {
    background-color: #333; 
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: auto;
    grid-gap: 10px;
  }
  .header-item-2 {
    background-color: #a79b75; 
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: auto;
    grid-gap: 10px;
  }

  .header-item-3 {
    background-color: #f38989; 
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: auto;
    grid-gap: 10px;
  }

  .header-item-4 {
    background-color: #9c76c7; 
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: auto;
    grid-gap: 10px;
  }

  .header-item-5 {
    background-color: #7dc56b; 
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: auto;
    grid-gap: 10px;
  }

  .header-item-6 {
    background-color: #ec99a4; 
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: auto;
    grid-gap: 10px;
  }